### Strings

1.Reverse words in a given String in Python

Input : str =" geeks quiz practice code"
Output : str = code practice quiz geeks  

Input : str = "my name is laxmi"
output : str= laxmi is name my

2.print all words with even length in the given string.
 
 Input: s = "This is a python language"
Output: This is python language

Input: s = "i am laxmi"
Output: am

### List

In [ ]:
#3.Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]

In [ ]:
#4.Reverse a list in Python
list1 = [100, 200, 300, 400, 500]

In [ ]:
#5.interchange first and last elements in a list
Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

In [ ]:
#6. Turn every item of a list into its square
Given a list of numbers. write a program to turn every item of a list into its square.
numbers = [1, 2, 3, 4, 5, 6, 7]
Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# count positive and negative numbers in a list
Input: list1 = [2, -7, 5, -64, -14]
Output: pos = 2, neg = 3

In [ ]:
#Remove multiple elements from a list
Input: [12, 15, 3, 10]
Output: Remove = [12, 3], New_List = [15, 10]

### Tuple

Find the sum of tuple elements

Access value 20 from the tuple
The given tuple is a nested tuple. write a Python program to print the value 20.


tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

Swap two tuples in Python
Given:

tuple1 = (11, 22)
tuple2 = (99, 88)

Counts the number of occurrences of item 50 from a tuple
Given:

tuple1 = (50, 10, 60, 70, 50)

### Dictionary

In [ ]:
Rename key of a dictionary
Write a program to rename a key city to a location in the following dictionary.
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
Expected output:

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}